<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_dark_pink"
        android:label="Zahran Market"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.PaymentDetails"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChooseUser"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.RegisterUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.RegisterAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>